.waf_toolchains.py
extra/*
!extra/android
!extra/ios
bld/*
nbproject/*
*.pyc
.lock-*
Motor.*
.*project
.settings
.tags
.clang_complete
**/.vscode
**/.mypy_cache
docs/_build
.venv
CMakeLists.txt
.idea
cmake-variants.yaml