.waf_toolchains.cache
extra/*
!extra/android
!extra/ios
bld/*
nbproject/*
*.pyc
.lock-*
Motor.*
.*project
.settings
.tags
.clang_complete
**/.vscode
**/.mypy_cache
docs/_build
.venv
.idea
cmake-variants.yaml
CMakePresets.json
CMakeSettings.json
.vs