.wy-nav-content {
    max-width: none;
}

.toggle .header {
    display: block;
    clear: both;
}

.toggle .header:before {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 0.0em 1.4em;
    content: " + show";
}

.toggle .header.open:before {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    padding:0.0em 1.4em;
    content: " - hide";
}
